.skills__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills__item {
  padding: 0.4rem 0;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--noir);
}

@media (min-width: 480px) {
  .skills__item {
    font-size: 0.95rem;
  }
}
